body {
  background-color: black;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 1000px;
  margin: auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  letter-spacing: -2px;

  span {
    display: inline-block;
    color: red;
    scale: -1 1;
    translate: 3px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#categorylist,
nav {
  list-style: none;
  padding: 0;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    border-radius: 0.4rem;
    margin: 0.5rem;
  }

  a {
    padding: 2rem;
    line-height: 3;
  }

  li:hover {
    background-color: orange;

    a {
      color: #333;
    }
  }
}

button {
  background-color: white;
  color: #222;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: white;
  color: #222;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.aktiv {
  background-color: orange;

  a {
    color: white;
  }
}

.inaktiv {
  background-color: #333;

  a {
    color: white;
  }
}

#productlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1em;

  img {
    max-width: 100%;
    border-radius: 0.4rem;
    border-radius: 0.4rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
}

.product_card {
  position: relative;
  background-color: #222;
  padding: 1em;
  border-radius: 0.8rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 10px;

  h3 {
    margin: 5px;
  }
  p {
    margin: 5px;
  }
}

.product_card:hover {
  background-color: #234;
}

.product_card:hover {
  background-color: #234;
}

.product_card.soldout {
  opacity: 0.8;
}

.product_card.soldout::after {
  content: "Udsolg";
  position: absolute;
  opacity: 1;
  padding: 1rem;
  margin: 1rem;
  background-color: orange;
}

#product {
  display: flex;
  gap: 2em;
  align-items: flex-start;
  img {
    max-width: 30%;
    margin-top: 1.5em;
  }
}

tbody br {
  display: none;
}
